:root {
  --background: #F3F4F6;
  --foreground: #0F172A;
  --primary: #2563EB;
  --secondary: #64748B;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*********BUTTONS********/
.main-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: var(--primary);
  border-radius: 5px;
  padding: 12px;
  text-decoration: none;
  transition: "transform 0.2s ease-in-out";
  width: 15%;
}

.main-button:hover {
  transform: scale(1.1);
  background-color: #1b4aaf;
}